<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Example Blog</title>
    <script src="/js/libs/vue.min.js"></script>
    <script src="/js/libs/vue-router.min.js"></script>
    <script src="/js/libs/marked.min.js"></script>
    <link href="/css/libs/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <meta name="_csrf" th:content="${_csrf.token}"/>
</head>
<body>
<div th:replace="/vue-templates :: templates" />
<div id="app" class="container">

    <navbar></navbar>
    <router-view></router-view>
</div>
<script src="/js/components.js"></script>
<script src="/js/router.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
